<a class="vertical card with-cover" href="<%- post.path.replace('index.html','') %>">
  <div class="cover" style="background-image: url(<%- post.featured_image %>)"></div>
  <h4><%- post.title %></h4>
  <%- partial('partial/topic-tag', { post: post }) %>
</a>
