<section id="footer" class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="three-quarters column u-center u-750-left">
        <img src="/assets/logos/jegc-logo.png" alt="Junior Enterprise Global Council Logo">
        <nav>
          <a href="/">Home</a>
          <a href="/map">Map</a>
          <a href="/partners">Partners</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
      <div class="one-quarter column u-center u-750-right">
        <nav>
          <a href="https://www.facebook.com/jeglobalcouncil/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/company/junior-enterprise-global-council/"><i class="fab fa-linkedin-in"></i></a>
        </nav>
      </div>
    </div>
    <div class="row u-tiny-text">
      <div class="one-half column u-center u-750-left">
        <p>© 2018 Junior Enterprise Global Council</p>
      </div>
      <div class="one-half column u-center u-750-right">
        <p>Questions? <a href="mailto:kalil.monteiro@brasiljunior.org.br">kalil.monteiro@brasiljunior.org.br</a> | <span tabindex="0" class="u-button" onclick="smoothScroll('navigation');">Scroll to top <i class="fa fa-caret-up"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section id="premium-partners" class="bg-dark">
  <div class="container u-center">
    <a href="http://www.gpjr.com.br/" target="_blank"><img src="/assets/logos/gp-jr.png" alt="GP Jr Logo"></a>
  </div>
</section>
