<section class="bg-gray">
  <div class="u-max-full-width container u-center u-padded-spans">
    <span>Want to hire a JE for your next project?</span>
    <span><a href="/map" class="button">Find a JE to hire in the JE Map</a></span>
  </div>
</section>
