<div id="mobileNav">
  <div class="mobile-nav">
    <div id="mobileNav-tab-anchor" tabindex="-1"></div>
    <p><button class="close" role="button" onclick="closeMobileNav();">&times;</button></p>
    <a href="/">Home</a>
    <p class="cite">Who we are</p>
    <a href="/je-global">JEGlobal</a>
    <a href="/partners">Partners</a>
    <p class="cite">Network</p>
    <a href="/concept">The JE Concept</a>
    <a href="/confederations">Confederations</a>
    <a href="/insights">Insights</a>
    <p class="cite">JE Map</p>
    <a href="/map">Find a JE</a>
    <a href="/insights/how-to-add-your-je-to-the-global-je-map/">Add or edit my JE</a>
    <p class="cite">More</p>
    <a href="/contact">Contact</a>
  </div>
  <p><a class="button purple-hover" href="/start-a-je">Start a JE</a></p>
</div>
