<div class="<% if(page.immersive){ %>immersive<% } %> navbar" id="navigation">
  <a href="/" class="navbar-logo"><img src="/assets/logos/juniorenterprises.svg" alt="Junior Enterprises Logo"></a>
  <nav class="navbar-main">
    <a href="/">Home</a>
    <div class="dropdown">
      <a href="#" onkeyup="openDropdown(event, 'who-we-are-menu');">Who we are</a>
      <div class="dropdown-content" id="who-we-are-menu">
        <a href="/global-council">Global Council</a>
        <a href="/partners">Partners</a>
        <!-- <a href="/opportunities">Opportunities</a> -->
      </div>
    </div>
    <div class="dropdown">
      <a href="#" onkeyup="openDropdown(event, 'network-menu');">Network</a>
      <div class="dropdown-content" id="network-menu">
        <a href="/concept">The JE Concept</a>
        <a href="/confederations">Confederations</a>
        <a href="/insights">Insights</a>
      </div>
    </div>
    <a href="/contact">Contact</a>
  </nav>
  <nav class="navbar-highlights">
    <div class="dropdown">
      <a href="#" onkeyup="openDropdown(event, 'map-menu');">JE Map</a>
      <div class="dropdown-content" id="map-menu">
        <a href="/map">Find a JE</a>
        <a href="/insights/how-to-add-your-je-to-the-global-je-map/">Add or edit my JE</a>
      </div>
    </div>
    <a href="/start-a-je" class="highlight purple-hover">Start a JE</a>
    <div class="navbar-social">
      <span>Follow us:</span>
      <a href="https://www.facebook.com/jeglobalcouncil/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.linkedin.com/company/junior-enterprise-global-council/">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </nav>
  <div class="menu button" role="button" tabindex="0" onclick="toggleMobileNav()">Menu</div>
</div>
