<section id="network-numbers" class="bg-gray">
  <div class="u-full-width container">
    <div class="row">
      <div class="three columns u-transparent u-button">
        <span class="number">44</span>
        <br>Countries
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number">1026</span>
        <br>Junior Enterprises
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number">46</span>
        <span class="symbol">K</span>
        <br>Junior Entrepreneurs
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number">14</span>
        <span class="symbol">K</span>
        <br>Projects in 2017
      </div>
    </div>
    <div class="row">
      <div class="five columns u-transparent u-button">
        <span class="small symbol">US$</span>
        <span class="number">22.5</span>
        <span class="symbol">M</span>
        <br>Turnover in 2017
      </div>
      <div class="seven columns u-transparent u-button">
        <span class="symbol">#1</span>
        <br>Youth entrepreneurship movement <span class="u-inline-block">in the world</span>
      </div>
    </div>
  </div>
</section>
