<% var jes = 0; %>
<% var jeurs = 0; %>
<% var projects = 0; %>
<% var turnover = 0; %>
<% site.posts.forEach(function(confederation){ %>
  <% if(confederation.type=='confederation'){ %>
    <% if(confederation.skip==false){ %>
      <% jes += confederation.no_of_JEs %>
      <% jeurs += confederation.no_of_JEurs %>
      <% projects += confederation.no_of_projects %>
      <% turnover += confederation.turnover*confederation.conversion_rate %>
    <% } %>
  <% } %>
<% }) %>
<% var thousand_jeurs = Math.round(jeurs/1000) %>
<% var thousand_projects = projects/1000 %>
<% var turnover_millions = turnover/1000000 %>

<section id="network-numbers" class="bg-gray">
  <div class="u-full-width container">
    <div class="row">
      <div class="three columns u-transparent u-button">
        <span class="number">44</span>
        <br>Countries
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number"><%- number_format(jes, {precision: 0, delimiter: ''}) %></span>
        <br>Junior Enterprises
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number"><%- number_format(thousand_jeurs, {precision: 0}) %></span>
        <span class="symbol">K</span>
        <br>Junior Entrepreneurs
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number"><%- number_format(thousand_projects, {precision: 1}) %></span>
        <span class="symbol">K</span>
        <br>Projects in 2017
      </div>
    </div>
    <div class="row">
      <div class="five columns u-transparent u-button">
        <span class="small symbol">US$</span>
        <span class="number"><%- number_format(turnover_millions, {precision: 1}) %></span>
        <span class="symbol">M</span>
        <br>Turnover in 2017
      </div>
      <div class="seven columns u-transparent u-button">
        <span class="symbol">#1</span>
        <br>Youth entrepreneurship movement <span class="u-inline-block">in the world</span>
      </div>
    </div>
  </div>
</section>
