<section id="cta" class="u-center u-white bg-image bg-gradient-2">
  <img src="/assets/images/global-forum-16-signing.jpeg">
  <div class="container">
    <p>Want to receive news & opportunities from JEGlobal and partners in your inbox?</p>
    <a class="button" href="https://juniorenterprise.us17.list-manage.com/subscribe?u=af92182386ba181d027b1b1be&id=5cea53ea52" target="_blank">Sign-up to our newsletter!</a>
  </div>
</section>
