<a href="<%- partner.link %>" class="horizontal card">
  <div class="five columns">
    <img src="<%- partner.logo %>" alt="<%- partner.title %> Logo">
  </div>
  <div class="seven columns">
    <%- partner.description %>
  </div>
</a>
