<section class="u-white u-center bg-image bg-gradient-2">
  <img src="https://images.unsplash.com/photo-1485120252639-4955174c75d6?q=75&amp;fm=jpg&amp;w=1000&amp;fit=max">
  <div class="container">
    <p>Want to create a Junior Enterprise in your University?</p>
    <a class="button purple-hover" href="/start-a-je">Find out how!</a>
  </div>
</section>
