<!-- Hero Section -->
<section id="big-hero" class="u-white bg-image bg-gradient-2-light">
  <img src="/assets/images/cnh-2017.jpeg">
  <video autoplay loop muted>
    <source src="/assets/videos/hero-video.webm" type="video/webm">
    <source src="/assets/videos/hero-video.mp4" type="video/mp4">
  </video>
  <div class="container">
    <h1>
      <span class="pretyped">Students delivering</span>
      <span class="typewriter" data-period="2000" data-type='["growth.","results.","projects.","change.","future."]'>growth.</span><span class="blinking"></span>
    </h1>
    <h2>Worldwide. Since 1967.</h2>
  </div>
  <div tabindex="0" class="learn-more u-button" onclick="smoothScroll(<%- learn-more-target %>);">
    Learn more<br>
    <svg viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M30 12 L16 24 2 12" />
    </svg>
  </div>
</section>

<!-- Main Content -->
<div class="bg-white"><div class="container">
  <section id="concept">
    <h3>The JE Concept</h3>
    <p>Junior Enterprises (JEs) are non-profit companies run entirely by university students. They provide services, in their fields of study, to other companies, entrepreneurs and society as a whole.</p>
    <p>The projects executed by JEs allow Junior Entrepreneurs to positively impact their clients while applying their knowledge on real problems of the market.</p>
    <div class="primary link"><a href="/concept">Find out more</a></div>
    <div class="primary link"><a href="/start-a-je">Start a JE</a></div>
  </section>
  <section id="network">
    <h3>A Global Movement</h3>
    <div class="row">
      <div class="one-half column">
        <canvas id="bubbleChart" class="bg-map-2"></canvas>
      </div>
      <div class="one-half column">
        <p>Junior Enterprises collaborate worldwide as a network. With support from their national confederations, JEs share knowledge and use common strategies to grow year after year.</p>
        <p>Wherever you are, you are likely to find a JE near you specialized in solving the problems you need to solve.</p>
        <div class="primary link"><a href="/confederations">Discover the network</a></div>
        <div class="primary link"><a href="/map">Hire a JE</a></div>
      </div>
    </div>
  </section>
</div></div>
<section id="global-council" class="bg-image bg-gradient-1-light">
  <img src="/assets/images/jewc-16-keynote.jpeg">
  <div class="container row">
    <div class="u-750-vcenter one-third column">
      <img src="/assets/logos/jegc-logo-dark-bg.png" alt="Junior Enterprise Global Council Logo">
    </div>
    <div class="offset-by-one-third two-thirds column card">
      <section>
        <h3>The Global Council</h3>
        <p>Created in 2016, the Junior Enterprise Global Council works to make JEs a truly global and connected movement.</p>
        <p>We are responsible for the global enlargement of the JE movement and for projects like JEWD, the Exchange Program and the Global Report.</p>
        <div class="primary link"><a href="/global-council">Learn more</a></div>
        <div class="primary link"><a href="/partners">Become a partner</a></div>
      </section>
    </div>
  </div>
</section>
<div class="bg-white"><div class="container">
  <section id="insights">
    <h3>Insights</h3>
    <p>Sorry, there are no blog posts right now. Come back soon!</p>
    <div class="primary link">
      <a href="/insights">View all posts</a>
    </div>
  </section>
  <!-- <section id="opportunities">
    <h3>Opportunities</h3>
    <p>Sorry, there are no opportunities right now. Come back soon!</p>
    <div class="primary link">
      <a href="/opportunities">View all opportunities</a>
    </div>
  </section> -->
</div></div>

<!-- Call-to-Action -->
<section id="cta" class="u-center u-white bg-image bg-gradient-2">
  <img src="/assets/images/global-forum-16-signing.jpeg">
  <div class="container">
    <p>Want to receive opportunities from the Global Council and partners in your inbox?</p>
    <a class="button" href="/mailchimp" target="_blank">Sign-up to our newsletter!</a>
  </div>
</section>
