<!-- Hero Section -->
<section id="hero" class="u-white u-center bg-image">
  <img src="/assets/images/contrate-uma-ej.jpeg">
  <h1>The JE Concept</h1>
</section>

<!-- Top CTA -->
<%- partial('partial/hire-a-je-top-cta') %>

<!-- Page Content -->
<div class="bg-white"><div class="container">
  <section>
    <h3>What is a Junior Enterprise?</h3>
    <p>The concept of Junior Enterprises aims to provide students of higher education<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup> with an unique <b>learn by doing</b> experience.</p>
    <p>While still studying at the university, students manage their own non-profit SMEs.</p>
    <p>These companies, called Junior Enterprises, offer consulting services to the market, in relation to their fields of study (Business, Design, Engineering...)<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a></sup></p>
    <p>The students sell, manage and execute these services. This gives them hands-on entrepreneurial & professional experience and the opportunity to impact their clients' businesses.</p>
  </section>
</div></div>

<section class="u-white u-center bg-image bg-gradient-1">
  <img src="/assets/images/cnh-2017.jpeg">
  <div class="container u-max-full-width">
    <h3 class="u-mt0">Modern traits of JEs</h3>
    <p>Since its creation in 1967, the concept above has evolved to incorporate new aspects.</p>
    <p>Here are some characteristics that are spreading at a global level:</p>
    <div class="deck">
      <div class="vertical card">
        <h4>Purpose-driven</h4>
        <p>JEs focus on their purpose of providing services to clients and fostering members' development.</p>
        <p>This focus turns them into labs to develop skills and makes them organize themselves in increasingly innovative ways.</p>
      </div>
      <div class="vertical card">
        <h4>High-growth</h4>
        <p>To truly foster members' development, JEs challenge themselves to improve every year.</p>
        <p>This understanding keeps pushing them to increase the impact, quality and numbers of their projects.</p>
        <p></p>
      </div>
      <div class="vertical card">
        <h4>Interconnected</h4>
        <p>Junior Enterprises work under the guidance of teachers, learn from professionals and share knowledge with other JEs.</p>
        <p>In everything they do, they work as an active part of a network.</p>
      </div>
      <div class="vertical card">
        <h4>Generators of Impact</h4>
        <p>JEs improve employability of students and make them 2x more likely to be entrepreneurs.<sup id="fnref:3"><a href="#fn:3" class="footnote">3</a></sup></p>
        <p>They also promote their university's brand and support the development of local businesses.</p>
      </div>
    </div>
  </div>
</section>

<div class="bg-white"><div class="container">
  <section>
    <h3>International Standards</h3>
    <p>To ensure that JEs around the world properly execute the JE Concept and the purpose of a Junior Enterprise as presented above, international standards were created.</p>
    <p>According to them, for a Junior Initiative to be recognized as a Junior Enterprise by the <a href="/confederations">JE network</a>, it must be:</p>
    <div class="deck">
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-money-check-alt"></i>
        </div>
        <div class="nine columns">
          <h5>Non-profit</h5>
          <p>Not necessarily by legal status but by nature of activities.</p>
          <p>Moreover, the JE should not be used for any economic benefits for the members of the JE unless it is for execution of project work.<sup id="fnref:4"><a href="#fn:4" class="footnote">4</a></sup></p>
        </div>
      </div>
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-handshake"></i>
        </div>
        <div class="nine columns">
          <h5>Non-political, non-religious</h5>
          <p>Not affiliated to political movement or party, however, able to lobby.</p>
          <p>Not affiliated to a religious movement or a church.</p>
        </div>
      </div>
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-address-book"></i>
        </div>
        <div class="nine columns">
          <h5>Managed entirely by students</h5>
          <p>Only undergraduate and postgraduate students make and execute strategic decisions.</p>
        </div>
      </div>
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-university"></i>
        </div>
        <div class="nine columns">
          <h5>Linked to an Institution of Higher Education</h5>
          <p>Not necessarily affiliated legally.</p>
          <p>Nonetheless, support from the university should be proactively sought.</p>
        </div>
      </div>
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-gavel"></i>
        </div>
        <div class="nine columns">
          <h5>Legal Entity</h5>
          <p>Possess legal settlement as a civil non-profit association according to national regulations.</p>
          <p>The legal documents must have completed at least one year and confirm that the nature and purpose of the organization follows the criteria mentioned here.</p>
        </div>
      </div>
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="nine columns">
          <h5>Fostering members' development</h5>
          <p>The end goal of the JE should be the development of members through the execution of projects.<sup id="fnref:5"><a href="#fn:5" class="footnote">5</a></sup></p>
        </div>
      </div>
      <div class="horizontal card">
        <div class="three columns u-center u-fs3">
          <i class="fas fa-hands"></i>
        </div>
        <div class="nine columns">
          <h5>And aiming at a sustainable activity</h5>
          <p>At least one project<sup id="fnref:5"><a href="#fn:5" class="footnote">5</a></sup> a year must be signed and run for clients.</p>
          <p>Minutes of possession of the management in exercise and proof of an active banking account exclusive for the Junior Enterprise must be presented.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h4>Footnotes</h4>
    <ol>
      <li id="fn:1">
        <p>Undergrad or postgrad student from an university or business school. <a href="#fnref:1" class="reversefootnote">↩</a></p>
      </li>
      <li id="fn:2">
        <p>There are Junior Enterprises in fields as varied as Architecture, Cinema, Food Engineering, Physical Education, Translations and many others. <a href="#fnref:2" class="reversefootnote">↩</a></p>
      </li>
      <li id="fn:3">
        <p><a href="http://ec.europa.eu/DocsRoom/documents/375/attachments/1/translations/en/renditions/native">Effects and impact of entrepreneurship programmes in higher education</a> (PDF) <a href="#fnref:3" class="reversefootnote">↩</a></p>
      </li>
      <li id="fn:4">
        <p>If the legal status allows economic benefits for the Management Board, then the National umbrella should ensure that there is a rule in place to prevent this from happening in a JE. <a href="#fnref:4" class="reversefootnote">↩</a></p>
      </li>
      <li id="fn:5">
        <p>A project here is considered as a paid service provided to an external party and it must have a clear beginning and end, existing during a determined period of time. Also, provided that the JE has the capability to execute the service and that it has at least one project a year linked to the field of study of its university students, the JE can work with projects outside its field of expertise, although it is not recommended by the Global Council to do so. <a href="#fnref:5" class="reversefootnote">↩</a></p>
      </li>
    </ol>
  </section>
</div></div>

<!-- Bottom CTA -->
<%- partial('partial/start-a-je-cta') %>
