<!-- Hero Section -->
<section id="hero" class="u-white u-center bg-image">
  <img src="/assets/images/jewc-16-crowd.jpeg">
  <h1>Contact</h1>
</section>

<!-- Page Content -->
<div class="bg-white">
  <div class="container">
    <section>
      <h3>Get in touch</h3>
      <p>Have any questions or suggestions for us? Want to talk about partnerships, creating a JE or any other subject?</p>
      <p>Then don't hesitate to contact us!</p>
      <p>Send us an e-mail to <a href="mailto:secretarygeneral@juniorenterprises.org">secretarygeneral@juniorenterprises.org</a> or use the form below:</p>
    </section>
  </div>
</div>

<section class="u-center bg-image bg-gradient-1">
  <img src="/assets/images/jewc-16-keynote.jpeg">
  <div class="container">
    <form target="_blank" accept-charset="UTF-8" action="https://usebasin.com/f/7923bbb4b05a" enctype="multipart/form-data" method="POST">
      <div class="row">
        <input class="card" type="text" id="name" name="name" placeholder="Name" required>
      </div>
      <div class="row">
        <input class="card" type="email" id="email" name="email" placeholder="Email Address" required>
      </div>
      <div class="row">
        <textarea class="card" rows="4" name="comment" placeholder="Message" required></textarea>
      </div>
      <div class="row">
        <div class="g-recaptcha" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"></div>
      </div>
      <button class="button" type="submit">Submit</button>
    </form>
  </div>
</section>
