<!-- Hero Section -->
<section id="hero" class="u-white u-center bg-image">
  <img src="/assets/images/jobs-2k17-applause.jpeg">
  <h1>Global Council</h1>
</section>

<!-- Page Content -->
<div class="bg-white"><div class="container">
  <section>
    <h3>Who we are</h3>
    <div class="row">
      <div class="two-thirds column">
        <p>The <b>Junior Enterprise Global Council</b> is the International Organization that represents the Junior Enterprise Movement Worldwide.</p>
        <p>We are currently composed by <a href="/confederations">8 confederations</a> which represent a total of 20 countries, all united in the Council with the following mission:</p>
        <blockquote>To be a truly global and connected movement, by improving our results via increased cooperation.</blockquote>
        <p>Since the confederations already represent JEs on a national or continental level, our work is focused on global aspects of the network.</p>
      </div>
      <div class="u-750-vcenter offset-by-two-thirds one-third column">
        <img src="/assets/images/confederations.jpg" alt="Confederation Logos">
      </div>
    </div>
  </section>
  <section>
    <h3>Our history</h3>
    <p>Even though the JE Movement exists since 1967, a global cooperation only started to be written in 2006 with the cooperation agreement signed between the European and Brazilian confederations, which led to the creation of the Junior Enterprise World Conference (JEWC).</p>
    <p>In JEWC 2016, the second-ever <b>JE Global Forum</b> was held. National leaders united to discuss the next steps for the international network and the main resolution was the creation of the <b>Global Council</b> as a collaboration platform within the founder members.</p>
  </section>
</div></div>

<section class="u-white u-center bg-image bg-gradient-1">
  <img src="/assets/images/enej-2017.jpeg">
  <div class="container u-max-full-width">
    <h3 class="u-mt0">What we do</h3>
    <div class="deck">
      <div class="vertical card">
        <h4>Alignment</h4>
        <p>Promotion of the <b>International Standards</b>, ensuring JEs follow the JE concept.</p>
        <p>Production of the <b>Global Report</b>, giving to the JE network insights about where we are and where we're going.</p>
      </div>
      <div class="vertical card">
        <h4>Enlargement</h4>
        <p>Partnerships and programs to <b>stimulate the creation</b> of JEs.</p>
        <p><b>Support for JE and Confederation initiatives</b> in more than 20 countries around the world.</p>
      </div>
      <div class="vertical card">
        <h4>Development</h4>
        <p>Support for the <b>newer confederations</b>.</p>
        <p><b>Connection programs</b> to increase collaboration in the network.</p>
        <p>Communication initiatives to promote <b>global knowledge</b>.</p>
      </div>
    </div>
  </div>
</section>

<div class="bg-white"><div class="container">
  <section>
    <h3>Our team</h3>
    <p>To execute all our programs and activities, we have an executive team, currently composed of 3 board members and 12 managers.</p>
    <div class="u-center u-tiny-text">
      <div class="team-member">
        <img src="/assets/team/kalil-el-kadri.jpg">
        <h5>Kalil El Kadri</h5>
        <p>Head of Strategy & Partnerships</p>
        <p><a href="mailto:kalil.monteiro@brasiljunior.org.br">kalil.monteiro@brasiljunior.org.br</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/lucas-mantovani.jpg">
        <h5>Lucas Mantovani</h5>
        <p>Head of Operations</p>
        <p><a href="mailto:lucas.mantovani@brasiljunior.org.br">lucas.mantovani@brasiljunior.org.br</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/albey-alpizar.jpg">
        <h5>Albey Alpízar</h5>
        <p>Head of Global Growth</p>
        <p><a href="mailto:albey.alpizar@jadenet.org">albey.alpizar@jadenet.org</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/alexandre-krul.jpg">
        <h5>Alexandre Krul</h5>
        <p>Enlargement Manager (Asia-Pacific / Latin America)</p>
        <p><a href="mailto:krulalexandre@gmail.com">krulalexandre@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/aniek-wouters.jpg">
        <h5>Aniek Wouters</h5>
        <p>Development Manager</p>
        <p><a href="mailto:aniek.wouters@unipartners.nl">aniek.wouters@unipartners.nl</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/caio-fernandes.jpg">
        <h5>Caio Fernandes</h5>
        <p>Enlargement Manager (Africa & Middle East)</p>
        <p><a href="mailto:caiocaiofernandes@gmail.com">caiocaiofernandes@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/clara-bernabe.jpg">
        <h5>Clara Bernabé</h5>
        <p>Enlargement Manager (Africa & Middle East)</p>
        <p><a href="mailto:clara.bernabe95@gmail.com">clara.bernabe95@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/gabriel-caldas.jpg">
        <h5>Gabriel Caldas</h5>
        <p>Communications Manager</p>
        <p><a href="mailto:gabrielcostacaldas@gmail.com">gabrielcostacaldas@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/joao-almeida.jpg">
        <h5>João Almeida</h5>
        <p>Global Public Affairs Manager</p>
        <p><a href="mailto:joaoalmeida.rc@gmail.com">joaoalmeida.rc@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/joao-braquehais.jpg">
        <h5>João Braquehais</h5>
        <p>Communications Manager</p>
        <p><a href="mailto:joaobraq@gmail.com">joaobraq@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/mayssa-ferhi.jpg">
        <h5>Mayssa Ferhi</h5>
        <p>Enlargement Manager (Africa & Middle East)</p>
        <p><a href="mailto:mayssa_ferhi@outlook.com">mayssa_ferhi@outlook.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/mortadha-rajhi.jpg">
        <h5>Mortadha Rajhi</h5>
        <p>Operations Manager</p>
        <p><a href="mailto:rajhimortadha7@gmail.com">rajhimortadha7@gmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/nicolas-munoz.jpg">
        <h5>Nicolás Muñoz</h5>
        <p>Enlargement Manager (Latin America)</p>
        <p><a href="mailto:v.munoz07@ufromail.cl">v.munoz07@ufromail.cl</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/yasmim-lopes.jpg">
        <h5>Yasmim Lopes</h5>
        <p>Enlargement Manager (Asia-Pacific)</p>
        <p><a href="mailto:yasmimalexandra@hotmail.com">yasmimalexandra@hotmail.com</a></p>
      </div>
      <div class="team-member">
        <img src="/assets/team/youssef-joudi.jpg">
        <h5>Youssef Joudi</h5>
        <p>Enlargement Manager (Africa & Middle East)</p>
        <p><a href="mailto:youssefjoudi95@gmail.com">youssefjoudi95@gmail.com</a></p>
      </div>
    </div>
  </section>
</div></div>

<!-- Call-to-Action -->
<section class="u-white u-center bg-image bg-gradient-2">
  <img src="/assets/images/jobs-2k17-stage.jpeg">
  <div class="container">
    <p>Interested in collaborating with us?</p>
    <a class="button" href="/partners">Learn more about being a partner</a>
  </div>
</section>
