<!-- Hero Section -->
<section id="hero" class="u-white u-center bg-image">
  <img src="https://images.unsplash.com/photo-1478809319988-35cad52fd89c?q=75&amp;fm=jpg&amp;w=1000&amp;fit=max">
  <h1>Partners</h1>
</section>

<!-- Page Content -->
<div class="bg-white"><div class="container">
  <section>
    <h2 class="impact-text bg-map-1">
      A <span class="blue larger">Global Movement</span><br>
      shaping the <span class="gray">leaders<br>
      of tomorrow</span>
    </h2>
    <p>Junior Entrepreneurs represent the best talents in universities around the world. They are committed, purpose-driven and come from a variety of fields.</p>
    <p>Partners of the JE Global Council get to connect with these student talents & work with us to build a more entrepreneurial world.</p>
    <blockquote>
      <p>Global Council partners play a key role in the <b>enlargement</b> and <b>development</b> of the JE movement at a <b>global level</b>, becoming part of our shared history in the process.</p>
      <cite>— Kalil El Kadri Monteiro, 2018 Head of Strategy & Partnerships</cite>
    </blockquote>
  </section>
  <section>
    <h3>Our partners</h3>
    <div class="deck">
      <% site.posts.forEach(function(partner){ %>
        ola
        <% if(partner.type=='partner'){ %>
          hi
          <% if(partner.premium=='true'){ %>
            premium
            <%- partial('partial/partner-card') %>
          <% } %>
          <% if(partner.premium==false){ %>
            non premium
            <%- partial('partial/partner-card', {partner: partner}) %>
          <% } %>
        <% } %>
      <% }) %>
      <div class="horizontal card bg-map-1">
        <div class="twelve columns" style="text-align: center;">
          <h4>More coming soon!</h4>
        </div>
      </div>
    </div>
  </section>
</div></div>

<section class="u-white u-center bg-image bg-gradient-1">
  <img src="https://images.unsplash.com/photo-1525423186417-45cade1b79c0?q=75&amp;fm=jpg&amp;w=1000&amp;fit=max">
  <div class="container">
    <p><b>Want to become a partner of the Global Council?</b></p>
    <p>Send an e-mail to <a class="u-white-link" href="mailto:kalil.monteiro@brasiljunior.org.br">kalil.monteiro@brasiljunior.org.br</a></p>
    <p>We are waiting for you!</p>
  </div>
</section>

<div class="bg-white"><div class="container">
  <section>
    <h3>In the media</h3>
    <div class="deck">
      <a class="vertical card with-cover" href="http://www.jadenet.org/global-journeys-learn-international-enlargement-journey/">
        <div class="cover" style="background-image: url(/assets/images/global-journeys.jpeg)"></div>
        <h4>Global Journeys: Learn about the international enlargement journey</h4>
        <p class="cite">JADE Blog (English)</p>
      </a>
      <a class="vertical card with-cover" href="https://www1.folha.uol.com.br/empreendedorsocial/2016/07/1795617-empresas-juniores-querem-expandir-atuacao-para-mais-10-paises-ate-2018.shtml">
        <div class="cover" style="background-image: url(/assets/images/global-forum-16-stage.jpeg)"></div>
        <h4>Junior Enterprises want to expand to 10 more countries until 2018</h4>
        <p class="cite">Folha de S.Paulo (Portuguese)</p>
      </a>
      <a class="vertical card with-cover" href="http://www.jadenet.org/opportunities-gc-exchange-program/">
        <div class="cover" style="background-image: url(/assets/images/exchange-program.jpeg)"></div>
        <h4>Why should you participate in the Exchange Program of the JE Network?</h4>
        <p class="cite">JADE Blog (English)</p>
      </a>
      <a class="vertical card with-cover" href="https://www.letudiant.fr/jobsstages/junior-entreprise-devenez-entrepreneur-avant-l-heure.html">
        <div class="cover" style="background-image: url(/assets/images/letudiant-article.jpeg)"></div>
        <h4>JEs: Becoming an entrepreneur before graduating</h4>
        <p class="cite">L'Etudiant (French)</p>
      </a>
      <a class="vertical card with-cover" href="https://exame.abril.com.br/negocios/dino/empresa-junior-promove-a-experiencia-em-lideranca-para-universitarios/">
        <div class="cover" style="background-image: url(/assets/images/exame-article.jpeg)"></div>
        <h4>JEs provide leadership experience for university students</h4>
        <p class="cite">EXAME (Portuguese)</p>
      </a>
    </div>
  </section>
</div></div>

<!-- Footer Section -->
<section class="u-white u-center bg-image bg-gradient-2">
  <img src="/assets/images/jobs-2k17-stage-2.jpeg">
  <div class="container">
    <p>Questions? Inquiries?</p>
    <a class="button" href="/contact">Contact us!</a>
  </div>
</section>
