<!-- Hero Section -->
<section id="big-hero" class="u-white u-center bg-image bg-gradient-purple-1">
  <img src="/assets/images/enej-2017-jeurs.jpeg">
  <video autoplay loop muted>
    <source src="/assets/videos/start-a-je-video.webm" type="video/webm">
    <source src="/assets/videos/start-a-je-video.mp4" type="video/mp4">
  </video>
  <h3 class="impact-text">
    <span class="larger">Start a JE<br></span>
    <span class="extra-larger">And go on a Journey</span>
    <span class="larger"><br>of Growth & Impact</span>
  </h3>
  <button class="learn-more u-button" onclick="smoothScroll('top-cta');">
    Learn More<br>
    <svg viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M30 12 L16 24 2 12" />
    </svg>
  </button>
</section>

<!-- Page Content -->
<section id="top-cta" class="bg-white"><div class="container">
  <div class="deck">
    <div class="one-half column cta container bg-gray">
      <p>Are you a student or university staff member that wants to create a JE? We can help you!</p>
      <button onclick="openFormModal('students-form');" class="purple button">Start your JE today</button>
    </div>
    <div class="one-half column cta container bg-gray">
      <p>Are you an organization that wants to stimulate the creation of JEs in a certain country or region?</p>
      <button onclick="openFormModal('orgs-form');" class="purple button">Partner with us</button>
    </div>
  </div>
</div></section>

<div class="bg-gray"><div class="container">
  <section id="why">
    <h2 class="cite">Students</h2>
    <h3>Why should you create a Junior Enterprise?</h3>
    <p>As a Junior Entrepreneur, you get to deliver projects to real clients, learn entrepreneurship in practice and be part of an <a href="\confederations">active global network</a>.</p>
    <p>Plus, as founder of a <a href="\concept">Junior Enterprise</a> you get to write your own story. A story that can show your vision, commitment and skills to future employers.</p>
    <p>This experience is often life-changing, as seen in the videos below:</p>
    <p></p>
  </section>
  <section>
    <div class="deck">
      <div class="one-third column">
        <div tabindex="0" onclick="openVideoModal('976376269211179','476px','476px');" class="purple button u-p12 u-center small-image">
          <img src="/assets/images/video-je-usa.jpeg" alt="Create a JE Video - USA">
        </div>
      </div>
      <div class="one-third column">
        <div tabindex="0" onclick="openVideoModal('1006070099575129','476px','476px');" class="purple button u-p12 u-center small-image">
          <img src="/assets/images/video-brasil-junior.jpeg" alt="Create a JE Video - Brasil">
        </div>
      </div>
      <div class="one-third column">
        <div tabindex="0" onclick="" class="purple button u-p12 u-center small-image">
          <img src="/assets/images/coming-soon.jpeg" alt="">
        </div>
      </div>
    </div>
  </section>
</div></div>

<div class="bg-white"><div class="container">
  <section>
    <h2 class="cite">Universities and Organizations</h2>
    <h3>Why should you stimulate the creation of JEs?</h3>
    <p>Junior Enterprises act as a bridge between Academia and the Business World, resulting in <a href="http://ec.europa.eu/DocsRoom/documents/375/attachments/1/translations/en/renditions/native">more employable and entrepreneurial</a> graduates.</p>
    <p>Moreover, several instances of the JE network have become conscious of their role in the formation of the next generation of entrepreneurs. They are continously challenging themselves to improve, increasing their impact as a consequence.</p>
    <p>By supporting the enlargement of the JE network (at a regional or global level), <b>you become part of the history</b> of the JE network and of this next generation of leaders.</p>
  </section>
</div></div>

<section class="u-center u-white bg-image bg-gradient-purple-2">
  <img src="/assets/images/jade-national-board-summit-2017.jpg">
  <div class="container">
    <h3 class="u-mt0">How to create a JE</h3>
    <div class="deck">
      <div class="one-half column">
        <div tabindex="0" onclick="openVideoModal('968390363343103','476px','476px');" class="purple button u-p12 u-center large-image">
          <img src="/assets/images/imm-video.jpeg" alt="">
        </div>
      </div>
      <div class="one-half column">
        <a class="purple button u-p12 u-center large-image" target="_blank" href="https://drive.google.com/file/d/0B8ruiONvrBgsUVA5cGFJUzVsdVQ2M183dDdTUHJBa19rbHlB/view">
          <img src="/assets/images/international-maturity-model.jpeg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<div class="bg-white"><div class="container u-center">
  <section>
    <h3>Ready to start this journey?</h3>
    <div class="deck">
      <div class="one-half column cta container bg-gray">
        <p>Students and university staff</p>
        <button onclick="openFormModal('students-form');" class="purple button">Start your JE today</button>
      </div>
      <div class="one-half column cta container bg-gray">
        <p>Companies and organizations</p>
        <button onclick="openFormModal('orgs-form');" class="purple button">Partner with us</button>
      </div>
    </div>
  </section>
</div></div>
