/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body { height: 100%; margin: 0; padding: 0; color: #222; overflow-x: hidden; font: 14px/1.6 'Open Sans', sans-serif; }

button { color: inherit; font: inherit; background: none; border: none; padding: 0; margin: 0; }

a { color: #1492b8; text-decoration: none; word-wrap: break-word; transition: all .15s ease-in; }
a:hover, a:focus { text-decoration: underline; }

p { margin-top: 0; margin-bottom: 0.75rem; }

#map { height: 100%; height: calc(100% - 56px); z-index: 0; }

.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 0.5rem;
  line-height: 16px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  padding: 12px 1.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #24a1c8;
  border-color: #1f8cad;
  transition: all .15s ease-in;
}
.button:hover, .button:focus {
  background-color: #4abbde;
  border-color: #24a1c8;
  text-decoration: none;
}

a.purple-hover:hover, a.purple-hover:focus {
  background-color: #6161a8;
  border-color: #525298;
}

.cite { text-transform: uppercase; letter-spacing: 1px; font-size: 14px; }

.close { color: #fff; font-size: 3rem; font-weight: bold; }
.close:hover, .close:focus { color: #24a1c8; text-decoration: none; cursor: pointer; }

/*                   	        JE MAP STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Search
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search-container {
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
}
.search {
  width: 85%;
  background-color: #e2e2e2;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.7);
}
.search input[type=search] {
  background-color: #f2f2f2;
  padding: 12px 54px 12px 18px;
  border: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
[placeholder] {
  text-overflow: ellipsis;
}
.search-border {
  width: 100%;
  border-bottom: 6px solid #e2e2e2;
}
#clearSearch-btn {
  display: none;
  font-size: 38px;
  position: absolute;
  top: -5px;
  right: 12px;
  color: #757575;
  background-color: transparent;
  border: none;
  font-weight: bold;
}
.search .fa-search#searchIcon {
  font-size: 20px;
  position: absolute;
  top: 16px;
  right: 18px;
  color: #757575;
}
#search-panel {
  max-height: 55vh;
  max-height: calc(100vh - 156px);
  display: none;
  width: 100%;
}
#search-panel .search-filters {
  padding: 0 18px 12px 18px;
  border-bottom: 6px solid #d2d2d2;
}
#search-panel p {
  font-weight: bold;
  margin: 6px 0;
}
#search-panel p.last {
  margin-bottom: 4px;
}
#search-panel .search-filters select {
  width: 100%;
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
  border-width: 0;
  border-radius: 2px;
  background-color: #f2f2f2;
  color: #323232;
  text-transform: capitalize;
}
input[type=checkbox] {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0.25rem 0;
  vertical-align: bottom;
  *overflow: hidden;
}
#type-je + div { color: #006C80; }
#type-conf + div { color: #B17000; }
label {
  display: inline-block;
}
.tooltip {
  font-size: 13.3333px;
  margin-right: 16px;
  display: inline-block;
  position: relative;
  border-bottom: 1px dashed #bbb;
}
.ttip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dashed #bbb;
  z-index: 7;
}
.ttipx {
  display: inline-block;
  position: relative;
  z-index: 7;
}
.tooltip .tooltiptext,
.ttip .tooltiptext,
.ttipx .tooltiptext {
  display: none;
  width: 180px;
  background-color: #323232;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
  font-size: 13.3333px;
  font-weight: normal;
}
.ttipx .tooltiptext {
  width: auto;
}
.ttipx .tooltiptext:hover {
  cursor: default;
}
.tooltip:hover .tooltiptext,
.ttip:hover .tooltiptext,
.ttipx:hover .tooltiptext {
  display: block;
}
.tooltip .tooltiptext::after,
.ttip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #323232 transparent transparent transparent;
}
#search-btn,
#see-btn,
#hide-btn,
.hire-btn,
.modal-btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: right;
  line-height: 1;
  padding: 12px 18px;
  background-color: #24a1c8;
  border-bottom: 6px solid #1f8cad;
  color: #fff;
  text-decoration: none;
  transition: all .15s ease-in;
}
.hire-btn:focus, .hire-btn:hover { text-decoration: none; }
#search-btn { margin-top: -6px; }
#search-results {
  display: none;
}
#search-results-panel {
  display: none;
  background-color: #f2f2f2;
  max-height: 50vh;
  overflow: auto;
  border-bottom: 6px solid #e2e2e2;
}
#search-results-panel .result-container{
  box-sizing: border-box;
  width: 100%;
  padding: 0 18px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
}
#search-results-panel .result {
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 0;
  border-bottom: 1px solid #e2e2e2;
}
#search-results-panel .result-container:last-child .result{
  border-bottom: none;
}
#search-results-panel .result-container:hover,
#search-results-panel .result-container:focus {
  background-color: #e2e2e2;
}
.result .je-name,
.result .je-field {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.result .je-award,
.result .je-country {
  float: right;
}
.result .je-field,
.result .je-country {
  font-size: 11px;
  font-weight: 400;
  text-transform: capitalize;
}
.result .je-name {
  max-width: 100%;
}
.result .je-field {
  max-width: 70%;
}
.result .fa {
  padding-left: 6px;
}
#hide-btn {
  display: none;
  border-bottom: none;
}
#see-btn,
#hide-btn {
  margin-top: -6px;
  overflow: hidden;
  margin-bottom: 0px;
}
#see-btn span.left,
#hide-btn span.left {
  float: left;
}
#see-btn span.right,
#hide-btn span.right {
  float: right;
  font-size: 14px;
  padding-top: 3px;
}
#search-btn:hover,
#search-btn:focus,
#closebtn:hover,
#closebtn:focus,
#see-btn:hover,
#see-btn:focus,
#hide-btn:hover,
#hide-btn:focus,
.hire-btn:hover,
.hire-btn:focus,
.modal-btn:hover,
.modal-btn:focus {
  background-color: #4abbde;
  border-color: #24a1c8;
}
::-ms-clear { width : 0; height: 0; }
::-webkit-search-cancel-button { display: none; }

/* JE Info Panel
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#je-info {
  display: none;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: #f2f2f2;
  height: 100%;
  max-width: 420px;
  width: 60%;
  box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.5);
  overflow: auto;
}
#je-info-nav {
  position: absolute;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  z-index: 8
}
#closeInfo-btn {
  font-size: 38px;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0 12px;
  font-weight: bold;
  line-height: 1.2;
}
#je-cover {
  width: 100%;
  height: 180px;
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#je-logo {
  display: block;
  margin: auto;
  position: relative;
  top: -120px;
  margin-bottom: -120px;
  width: 150px;
  padding-top: 150px;
  border: 8px solid #ffffff;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#je-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
}
#je-location {
  text-align: center;
  text-transform: capitalize;
}
.je-subtitle {
  font-weight: bold;
  color: #24a1c8;
  font-size: 12px;
  margin: 16px 0 2px 0;
}
#je-awards i {
  display: inline-block;
  width: 24px;
  margin-top: 2px;
  vertical-align: top;
}
#je-awards span {
  display: inline-block;
  width: 90%;
  width: calc(100% - 24px);
}
.powered-by img {
  display: inline-block;
  width: 24px;
  position: relative;
  top: -2px;
  margin-bottom: -10px;
}
.powered-by { text-align: center; }
.card, .hire-btn {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border-radius: 5px;
  margin: 10px auto;
  box-sizing: border-box;
  max-width: 280px;
}
.card {
  background-color: #f2f2f2;
}
.card:hover, .hire-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-image {
  width: 100%;
  padding-top: 60%;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
}
.card h4 {
  padding: 6px 10px;
  margin: 0;
}
.compressed {
  width: calc(100% - 420px);
}
.stats-container {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: -2px;
}
.contact-card,
.bench-contact {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
}
#je-files .bench-contact {
  margin-bottom: 10px;
}
#je-files .bench-contact:last-child {
  margin-bottom: 0;
}
.bench-contact .child-40 {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
}
.bench-contact .child-40 .card{
  max-width: 112px;
  margin: 0 0 0 auto;
}
.bench-contact .child-60 {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  box-sizing: border-box;
  padding-right: 20px;
}
.bench-contact .contact-position {
  font-size: 12px;
}
.stats-container .child {
  display: table-cell;
  border-right: 1px solid #e2e2e2;
  text-align: center;
  padding: 8px;
}
.contact-card a {
  color: #323232;
  background: #f2f2f2;
  text-decoration: none;
  display: table-cell;
  border-right: 1px solid #e2e2e2;
  border-bottom: 6px solid #e2e2e2;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}
.contact-card a:hover,
.contact-card a:focus {
  background: #24a1c8;
  color: #fff;
  border-bottom: 6px solid #1f8cad;
}
.contact-card a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: none;
}
.contact-card a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.stats-container .child:last-child {
  border-right: none;
}
.stats-container .stat {
  font-size: 20px;
}
.stats-container .description {
  font-size: 12px;
}
.je-content {
  padding: 0 24px 40px 24px;
  position: relative;
}
.je-benchmarking {
  padding: 24px;
}
.je-benchmarking .je-subtitle:first-child {
    margin-top: 0;
}
.je-benchmarking.dark { background-color: #e2e2e2; }
.je-benchmarking p:last-child { margin-bottom: 0; }



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media(min-width:840px){
  .navbar-main,
  .navbar-main .dropdown {
    display: block;
  }
  .navbar-highlights {
    display: block;
  }
  .navbar-mobile {
    display: none;
  }
}
@media(max-width:700px){
  .compressed {
    width: 40%;
  }
  .mobile-hidden {
    display: none;
  }
  #mobile-menu {
    width: 100%;
  }
}
@media(max-width:480px){
  .compressed {
    height: 30% !important;
    width: 100%;
  }
  #je-info {
    width: 100%;
    height: 70%;
    max-width: 480px;
  }
}
@media(min-width:480px){
  #search-btn {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
  #search-panel .search-filters {
    padding-bottom: 18px;
  }
  .search-filters .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 18px;
  }
  .search-filters .checkbox-container {
    margin-right: 117px;
  }
}
@media(max-height:480px){
  #search-results-panel {
    max-height: 30vh;
    max-height: calc(100vh - 200px);
  }
  #search-results-panel .result {
    font-size: 14px;
    padding: 10px 0;
  }
  @media(max-width:480px){
    #search-panel { overflow-y: auto; }
  }
}
@media(max-height:300px){
  #search-panel {
    max-height: 35vh;
    max-height: calc(100vh - 156px);
    overflow-y: auto;
  }
}

/*                   	     END OF JE MAP STYLES
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

/*                   	      NAVIGATION STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Basic Navigation Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar {
  background-color: #f2f2f2;
  width: 100%;
  font-size: 14px;
  height: 56px;
  position: relative;
}
.navbar a {
  float: left;
  display: block;
  color: #323232;
  text-decoration: none;
  font-weight: bold;
  padding: 18px 14px;
  font-size: 14px;
  line-height: 1;
  border: none;
  background-color: inherit;
}
.topnav.navbar { box-shadow: inset 0px -6px #e2e2e2; }
.bottomnav.navbar { position: absolute; bottom: 0; box-shadow: inset 0px 6px #e2e2e2; }
.topnav a { border-bottom: 6px solid #e2e2e2; }
.bottomnav a { border-top: 6px solid #e2e2e2; }

.navbar a:hover, .navbar a:focus, .navbar a.active,
.dropdown:hover > a {
  background-color: #fff;
  color: #24a1c8;
  border-color: #24a1c8;
}
.navbar a.navbar-logo {
  height: 30px;
  padding: 11px 14px 9px 14px;
}
.navbar-logo img {
  height: 100%;
}
.navbar-main, .dropdown {
  float: left;
}
.navbar-highlights {
  float: right;
}

/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropdown { position: relative; }
.topnav .dropdown > a::after { content: " \f0d7"; font-family: 'Font Awesome 5 Free'; }
.bottomnav .dropdown > a::after { content: " \f0d8"; font-family: 'Font Awesome 5 Free'; }
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 5;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
  min-width: 150px;
  background-color: #f2f2f2;
}
.topnav .dropdown-content {
  top: 100%;
  margin-top: -6px;
  border-top: 6px solid #24a1c8;
}
.bottomnav .dropdown-content {
  bottom: 100%;
  margin-bottom: -6px;
  border-bottom: 6px solid #24a1c8;
}
.dropdown:hover .dropdown-content { display: block; }
.dropdown-content a { float: none; border: none!important; }


/* Highlights
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-social { float: left; }
.navbar-social > span {
  float: left;
  display: block;
  position: relative;
  top: 11px;
  padding: 7px 7px 7px 14px;
  line-height: 1;
  /* border-left: 1px solid #e2e2e2; */
}
.bottomnav.navbar .navbar-social>span { top: 17px; }
.navbar-highlights .dropdown-content { right: 0; }

a.highlight {
  color: #fff;
  background-color: #24a1c8;
  border-color: #1f8cad;
}
a.highlight:hover, a.highlight:focus {
  color: #fff;
  background-color: #4abbde;
  border-color: #24a1c8;
}
a.purple-hover:hover, a.purple-hover:focus {
  background-color: #6161a8;
  border-color: #525298;
}

/* Mobile Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-main, .navbar-highlights, .navbar-social { display: none; }
@media (min-width: 750px) {
  .navbar-main, .navbar-highlights { display: block; }
  .menu.button, #mobileNav { display: none; }
  #main { transform: translateX(0)!important }
}
@media (min-width: 1000px) { .navbar-social { display: block; } }

.menu.button { position: absolute; right: 0; margin: 7px 14px; padding: 10px; }
.bottomnav.navbar .menu.button { top: 5px; }
.menu.button::after { content: " \f0c9"; font-family: 'Font Awesome 5 Free'; }

#mobileNav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 5;
  top: 0;
  right: -250px;
  background-color: #323232;
  color: #fff;
  overflow-x: hidden;
  transition: .3s ease-out right;
  font-size: 14px;
}
#main { transform: translateX(0); transition: .3s ease-out transform; width: 100%; height: 100%; }

#mobileNav p { text-align: center; padding: 9px; }
#mobileNav .button { margin-bottom: 18px; }
.mobile-nav a { color: #fff; transition: 0.15s ease-in all; font-weight: bold; display: block; padding: 18px; }
.mobile-nav a:focus, .mobile-nav a:hover { color: #24a1c8; background-color: #fff; text-decoration: none; }
.mobile-nav a, .mobile-nav p { width: 100%; margin: 0; box-sizing: border-box; }
.mobile-nav .cite { color: #e2e2e2; background-color: #444; }

/* Immersive/Hotsite Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.immersive.navbar {
  height: 0;
  background: none;
  box-shadow: none;
  position: relative;
  z-index: 2;
}
.immersive.navbar a { border: none; }
.immersive.navbar a.highlight { background: none; color: #323232; }
.immersive.navbar a.highlight:hover, .immersive.navbar a.highlight:focus { background-color: #fff; color: #24a1c8; border-color: #24a1c8; }
.immersive.navbar .dropdown-content { margin-top: 0; }

/*                   	   END OF NAVIGATION STYLES
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */
