/* Table of Contents------------------------------
      1. THEME STYLES
          1.a. Base font
          1.b. Base Styles
          1.c. Buttons & Links
          1.d. Cards
          1.e. Impact Texts
          1.f. Forms
          1.h. Content/Container Blocks
          1.i. Adapted skeleton.css grid
          1.j. Utilities
      2. NAVIGATION STYLES
          2.a. Basic Navigation Styles
          2.b. Dropdowns
          2.c. Highlights
          2.d. Mobile Navigation
          2.e. Immersive/Hotsite Navigation
      3. COMMON PAGE STYLES
          3.a. Hero
          3.b. Footer
      4. CUSTOM PAGE STYLES
          4.a. Home Hero Section
          4.b. Home Numbers Section
          4.c. Home Network Section
          4.d. Home Global Council Section
          4.e. Global Council Page Our Team Section
          4.f. Confederations Page Social Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                   	        THEME STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Base Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html { font: 14px/1.6 'Open Sans', sans-serif; }

@media (min-width: 400px) {
  html { font-size: 18px; }
}

@font-face {
  font-family: 'Arvo';
  font-display: auto;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body { height: 100%; margin: 0; padding: 0; color: #222; overflow-x: hidden; }

button { color: inherit; font: inherit; background: none; border: none; padding: 0; margin: 0; }

a { color: #1492b8; text-decoration: none; word-wrap: break-word; transition: all .15s ease-in; }
a:hover, a:focus { text-decoration: underline; }
a.footnote { color: #444; }

h1, h3, h4 { font-family: 'Montserrat', sans-serif; word-wrap: break-word; }
h1, h2, h3, h4 { margin: 1.5rem 0 0.75rem 0; line-height: 1.2; color: #111; }
h1 { font-size: 3.25rem; }
h2 { font-weight: normal; }
h3 { font-size: 1.75rem; }
h2, h4 { font-size: 1.25rem; }
h5 { font-size: 14px; margin: 0 0 0.25rem 0; }
h5 ~ p { margin-bottom: 0.25rem; }

@media (min-width: 750px) {
  h1, h2, h3 { margin-left: -2rem; margin-right: -2rem; }
  h4 { margin-left: -1rem; margin-right: -1rem; }
}

p, ul, ol, li, table, blockquote { margin-top: 0; margin-bottom: 0.75rem; }
ul, ol { padding-left: 1.5rem; }

hr { border: none; margin: 2.5rem 0; border-bottom: 1px solid #e2e2e2; }

blockquote { margin-left: 0.75rem; margin-right: 0; padding: 0rem 0.8rem; border-left: .3rem solid #ccc; color: #777; font-style: italic; }
blockquote p:last-child { margin-bottom: 0; }
blockquote cite, .cite { text-transform: uppercase; letter-spacing: 1px; font-size: 14px; }
h2.cite + h3 { margin-top: -0.75rem; }

table { border-collapse: collapse; }
th, td {  padding: .5rem .75rem;  text-align: left; border-bottom: 1px solid #ccc; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }

/* Buttons & Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 0.5rem;
  line-height: 16px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  padding: 12px 1.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #24a1c8;
  transition: all .15s ease-in;
}
.button:hover, .button:focus {
  background-color: #4abbde;
  text-decoration: none;
}

.purple.button { border-radius: 0; transform: translate(-3px, -3px); }
.purple.button::before, .purple.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease-in;
}
.purple.button::before { z-index: -1; background-color: #24a1c8; }
.purple.button::after { z-index: -2; background-color: #6161a8; transform: translate(6px, 6px); }
.purple.button:hover, .purple.button:focus { transform: translate(0,0); }
.purple.button:hover::before, .purple.button:focus::before { transform: translate(0,0); }
.purple.button:hover::after, .purple.button:focus::after { transform: translate(0,0); }

.primary.link { font-size: 1.2rem; font-weight: bold; display: block; text-align: right; }
.primary.link a { display: inline-block; color: #24a1c8; margin-left: -2rem; transition-timing-function: ease-out; }
.primary.link a:hover, .primary.link a:focus { text-decoration: none; color: #4abbde; transform: translateX(0.25rem); }
.primary.link a::after { content: " \f0da"; font-family: 'Font Awesome 5 Free'; }

@media (min-width: 750px) {
  .primary.link { margin-left: -2rem; margin-right: -2rem; }
}

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  background: #fff;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  border-bottom: 6px #e2e2e2 solid;
  color: initial;
  text-align: left;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  transition: all .15s ease-in;
}
.card:hover, .card:focus {
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
}

.deck { text-align: center; }
.deck .cta {
  font-size: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.deck .card {
  font-size: 14px;
  margin: 0.5rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 90%; /* Small Screens */
}
.deck .card h4 { margin-left: 0; margin-right: 0; }
.deck .vertical.card p:last-child { margin-bottom: 1.5rem; }
.deck .horizontal.card { padding: 1rem; }
.deck .horizontal.card img { margin: 0 auto; max-width: 135px; max-height: 90px; }

@media (min-width: 400px) {
  .deck { display: flex; flex-wrap: wrap; justify-content: center; }
  .deck .vertical.card { /* Flex */ flex: 0 0 280px; /* Fallback */ max-width: 280px; }
  .deck .horizontal.card { /* Flex */ flex: 0 1 420px; /* Fallback */ max-width: 420px; min-height: 150px; }
}

@media (min-width: 550px) {
  .deck .horizontal.card { display: flex; align-items: center; }
}

.deck .card.with-cover { padding-top: 160px; }
.deck .card.with-cover .cover {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 6px;
  height: 160px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Impact Texts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.impact-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transform: skew(-8deg) rotate(-2deg);
  margin: 0 0 -1.5rem 0;
  padding: 4rem 0;
  position: relative;
  z-index: 0;
}

.impact-text .blue { color: #24a1c8; }
.impact-text .gray { color: #777; }
.impact-text .larger { font-size: 1.3em; }
.impact-text .extra-larger { font-size: 1.6em; }

.impact-text + p { position: relative; z-index: 1; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form .row { padding-bottom: 0.75rem; }
input.card, textarea.card {
  max-width: 550px;
  width: 100%;
  box-sizing: border-box;
  font: 1rem/1.2 'Open Sans', sans-serif;
  padding: 0.4rem 0.5rem;
  border: none;
  border-bottom: 6px solid #e2e2e2;
}
.g-recaptcha > div {
  margin: 0 auto;
}

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #fff;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.close { color: #fff; font-size: 3rem; font-weight: bold; }
.close:hover, .close:focus { color: #24a1c8; text-decoration: none; cursor: pointer; }

/* Content/Container Blocks
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.container .row:last-child { padding-bottom: 0; }
.container p:last-child { margin-bottom: 0; }

.container section { margin-bottom: 1.5rem; }

@media (min-width: 400px) {
  .container { width: 90%; }
}
@media (min-width: 550px) {
  .container { width: 80%; }
  .container .row { padding-bottom: 0.75rem; }
}

.container img { margin: 2em auto; display: block; max-width: 100%; }

/* Adapted skeleton.css grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.row { position: relative; }
.column, .columns { width: 100%; float: left; box-sizing: border-box; }

@media (min-width: 550px) {
  .columns { margin-right: 4%; }
  .columns:last-child { margin-right: 0; }
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}
@media (min-width: 750px) {
  /* Quick-fold variants */
  .column { margin-right: 4%; }
  .column:last-child { margin-right: 0; }
  .one-quarter.column             { width: 22%;            }
  .three-quarters.column          { width: 74%;            }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  .offset-by-one-third.column     { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column    { margin-left: 69.3333333333%; }
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width { width: 100%; box-sizing: border-box; }
.u-max-full-width { width: 100%; max-width: 100%; box-sizing: border-box; }

.u-inline-block { display: inline-block; }
.u-tiny-text { font-size: 12px; }
.u-padded-spans span { padding: 0 0.5rem; }
.u-mt0 { margin-top: 0; }
.u-fs3 { font-size: 3rem; }
.u-p12 { padding: 12px; }

.u-transparent { transition: opacity .15s ease-in; opacity: 0.5; }
.u-transparent:hover { opacity: 1; }

.u-button { cursor: pointer; }

.u-white, .u-white h1, .u-white h2, .u-white h3 { color: #fff; }
.u-white-link { font-weight: bold; padding: 0.25rem 0.5rem; background-color: rgba(255,255,255,0.7); border-radius: 0.5rem; display: inline-block; }

.u-pull-right { float: right; }
.u-pull-left { float: left; }
.u-center { text-align: center; }
.u-center img, .u-center nav { margin: 0 auto; }

.u-750-vcenter { margin: 0 auto; }
.u-750-vcenter img { width: 100%; max-width: 240px; }
@media (min-width: 750px) {
  .u-750-vcenter { position: absolute; top: 50%; transform: translateY(-50%); margin: 0; }
  .u-750-right { text-align: right; }
  .u-750-left img, .u-750-left nav { float: left; }
  .u-750-left { text-align: left; }
  .u-750-right img, .u-750-right nav { float: right; }
}

.bg-white { background-color: #fff; }
.bg-gray { background-color: #f2f2f2; }
.bg-dark { background-color: #e2e2e2; }

.bg-image { position: relative; background: rgba(50,50,50,0.7); padding: 1.5rem 0; border-bottom: 6px solid #e2e2e2; }
.bg-image > img { position: absolute; height: 100%; top: 0; z-index: -1!important; object-fit: cover; width: 100%; left: 0; }
.bg-image em { background: rgba(0,0,0,0.3); }

.bg-gradient-1 { background: linear-gradient(to bottom right, rgba(50,50,50,0.8), rgba(36,161,200,0.8)); }
.bg-gradient-1-light { background: linear-gradient(to bottom right, rgba(50,50,50,0.5), rgba(36,161,200,0.5)); }
.bg-gradient-2 { background: linear-gradient(to bottom right, rgba(36,161,200,0.8), rgba(50,50,50,0.8)); }
.bg-gradient-2-light { background: linear-gradient(to bottom right, rgba(36,161,200,0.7), rgba(50,50,50,0.7)); }
.bg-gradient-purple-1 { background: linear-gradient(to bottom right, rgba(36,161,200,0.7), rgba(97, 97, 168, 0.9)); }
.bg-gradient-purple-2 { background: linear-gradient(to bottom right, rgba(97, 97, 168, 0.5), rgba(36,161,200,0.4)); }

.bg-map-1 { background: url(/assets/maps/grayworldmap.svg) center/contain no-repeat; }
.bg-map-2 { background: url(/assets/maps/svgworldmap.svg) center/contain no-repeat; }

.container:after, .row:after, .deck:after, .u-cf { content: ""; display: table; clear: both; } /* Self clearing */

/*                   	     END OF THEME STYLES
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

/*                   	      NAVIGATION STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Basic Navigation Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar {
  background-color: #f2f2f2;
  width: 100%;
  font-size: 14px;
  height: 56px;
  position: relative;
}
.navbar a {
  float: left;
  display: block;
  color: #323232;
  text-decoration: none;
  font-weight: bold;
  padding: 18px 14px;
  font-size: 14px;
  line-height: 1;
  border: none;
  background-color: inherit;
}
.topnav.navbar { box-shadow: inset 0px -6px #e2e2e2; }
.bottomnav.navbar { position: absolute; bottom: 0; box-shadow: inset 0px 6px #e2e2e2; }
.topnav a { border-bottom: 6px solid #e2e2e2; }
.bottomnav a { border-top: 6px solid #e2e2e2; }

.navbar a:hover, .navbar a:focus, .navbar a.active,
.dropdown:hover > a {
  background-color: #fff;
  color: #24a1c8;
  border-color: #24a1c8;
}
.navbar a.navbar-logo {
  height: 30px;
  padding: 11px 14px 9px 14px;
}
.navbar-logo img {
  height: 100%;
}
.navbar-main, .dropdown {
  float: left;
}
.navbar-highlights {
  float: right;
}

/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropdown { position: relative; }
.topnav .dropdown > a::after { content: " \f0d7"; font-family: 'Font Awesome 5 Free'; }
.bottomnav .dropdown > a::after { content: " \f0d8"; font-family: 'Font Awesome 5 Free'; }
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 5;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
  min-width: 150px;
  background-color: #f2f2f2;
}
.topnav .dropdown-content {
  top: 100%;
  margin-top: -6px;
  border-top: 6px solid #24a1c8;
}
.bottomnav .dropdown-content {
  bottom: 100%;
  margin-bottom: -6px;
  border-bottom: 6px solid #24a1c8;
}
.dropdown:hover .dropdown-content { display: block; }
.dropdown-content a { float: none; border: none!important; }


/* Highlights
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-social { float: left; }
.navbar-social > span {
  float: left;
  display: block;
  position: relative;
  top: 11px;
  padding: 7px 7px 7px 14px;
  line-height: 1;
  /* border-left: 1px solid #e2e2e2; */
}
.bottomnav.navbar .navbar-social>span { top: 17px; }
.navbar-highlights .dropdown-content { right: 0; }

a.highlight {
  color: #fff;
  background-color: #24a1c8;
  border-color: #1f8cad;
}
a.highlight:hover, a.highlight:focus {
  color: #fff;
  background-color: #4abbde;
  border-color: #24a1c8;
}
a.purple-hover:hover, a.purple-hover:focus {
  background-color: #6161a8;
  border-color: #525298;
}

/* Mobile Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-main, .navbar-highlights, .navbar-social { display: none; }
@media (min-width: 750px) {
  .navbar-main, .navbar-highlights { display: block; }
  .menu.button, #mobileNav { display: none; }
  #main { transform: translateX(0)!important }
}
@media (min-width: 1000px) { .navbar-social { display: block; } }

.menu.button { position: absolute; right: 0; margin: 7px 14px; padding: 10px; }
.bottomnav.navbar .menu.button { top: 5px; }
.menu.button::after { content: " \f0c9"; font-family: 'Font Awesome 5 Free'; }

#mobileNav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 5;
  top: 0;
  right: -250px;
  background-color: #323232;
  color: #fff;
  overflow-x: hidden;
  transition: .3s ease-out right;
  font-size: 14px;
}
#main { transform: translateX(0); transition: .3s ease-out transform; width: 100%; height: 100%; }

#mobileNav p { text-align: center; padding: 9px; }
#mobileNav .button { margin-bottom: 18px; }
.mobile-nav a { color: #fff; transition: 0.15s ease-in all; font-weight: bold; display: block; padding: 18px; }
.mobile-nav a:focus, .mobile-nav a:hover { color: #24a1c8; background-color: #fff; text-decoration: none; }
.mobile-nav a, .mobile-nav p { width: 100%; margin: 0; box-sizing: border-box; }
.mobile-nav .cite { color: #e2e2e2; background-color: #444; }

/* Immersive/Hotsite Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.immersive.navbar {
  height: 0;
  background: none;
  box-shadow: none;
  position: relative;
  z-index: 2;
}
.immersive.navbar a { border: none; }
.immersive.navbar a img { filter: grayscale(100%) brightness(180%) contrast(220%); }
.immersive.navbar a:hover img { filter: none; }
.immersive.navbar a.highlight { background: none; color: #323232; }
.immersive.navbar a.highlight:hover, .immersive.navbar a.highlight:focus { background-color: #fff; color: #24a1c8; border-color: #24a1c8; }
.immersive.navbar .dropdown-content { margin-top: 0; }

/*                   	   END OF NAVIGATION STYLES
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

/*                   	     COMMON PAGE STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero h1 { margin-bottom: 1.5rem; }
#big-hero { padding: 3rem 0; position: relative; }
#big-hero video {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1!important;
  object-fit: cover;
  width: 100%;
  left: 0;
}

@supports (-ms-ime-align:auto) { #big-hero video { display: none; } }  /* HIDE VIDEO ON MS EDGE */
@media screen\0 { #big-hero video { display: none; } } /* HIDE VIDEO ON MS IE */

.learn-more {
  position: relative;
  top: 2rem;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.learn-more svg { animation: bounce .5s cubic-bezier(0.8, 0, 1, 1) infinite alternate; }
@keyframes bounce { from{transform: translateY(0%);} to{transform: translateY(25%);} }

@media (min-width: 750px), (min-height: 800px) {
  #big-hero { padding: 10rem 0; }
  .learn-more { top: 9rem; }
}

/* Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer { padding: 0.75rem 0; }
#premium-partners { padding: 0.25rem 0; }
#footer img { height: 100px; }
#premium-partners img { height: 60px; }
#premium-partners img { filter: brightness(0); transition: 0.15s ease-in filter; display: inline-block; vertical-align: bottom; margin: 0.5rem; }
#premium-partners a:hover img, #premium-partners a:focus img { filter: brightness(1); }
#footer a { width: 100%; color: inherit; padding-top: 0.5rem; }
#footer a:hover, #footer a:focus { color: #24a1c8; text-decoration: none; }
#footer nav a { display: inline-block; }
@media (min-width: 750px) {
  #footer nav a { width: auto; line-height: 100px; padding-left: 1rem; padding-top: 0; }
}

/* Blog Post Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tag { background: #24a1c8; color: #fff; border-radius: 6px; padding: 1px 6px; }
/* .tag:focus, .tag:hover { background-color: #4abbde; text-decoration: none; } */

.Enlargement.tag { background: #6161a8 }
/* .Enlargement.tag:focus, .Enlargement.tag:hover { background: #7676b2 } */

.Opportunities.tag { background: #d2852d }
/* .Opportunities.tag:focus, .Opportunities.tag:hover { background: #d79447 } */

.Impact.tag { background: #323232 }
/* .Impact.tag:focus, .Impact.tag:hover { background: #424242 } */

.Knowledge.tag { background: #4c944f }
/* .Knowledge.tag:focus, .Knowledge.tag:hover { background: #58a75b } */

.vertical.card p.cite:last-child { margin-bottom: 3.6rem; }
.vertical.card p.cite:last-child .tag { position: absolute; bottom: 1.5rem; }


/*                   	  END OF COMMON PAGE STYLES
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

/*                   	    CUSTOM PAGE STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Home Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pretyped { display: block; }
@media (min-width: 1200px) { .pretyped { display: inline-block; } }
.blinking { padding-right: .05em; border-right: .05em solid; animation: caret 1s steps(1) infinite; }
@keyframes caret { 50% { opacity: 0; } }

/* Home Numbers Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#network-numbers {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
#network-numbers .number, #network-numbers .symbol {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.4;
}
#network-numbers .small.symbol { font-size: 1.5rem; }
@media (min-width: 750px) { #network-numbers.u-full-width.container { width: 80%; } }

/* Home Network Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#network canvas { width: 100%; margin: 1rem 0; }

/* Home JEGlobal Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 750px) {
  #je-global .card { right: -3.5rem; padding: 0 3.5rem; }
}

/* JEGlobal Page Our Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.team-member {
  width: 160px;
  margin: 0.5rem;
  display: inline-block;
  vertical-align: top;
}
.team-member img {
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  filter: grayscale(40%);
  transition: 0.15s ease-in all;
  height: 160px;
  width: 160px;
  object-fit: cover;
}
.team-member:hover img { filter: grayscale(0%); }

/* Confederations Page Social Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.social-link {
  height: 30px;
  width: 30px;
  background-color: #24a1c8;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
}
.social-link:hover, .social-link:focus { background-color: #4abbde; }

/* Start a JE Page Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.small-image { max-width: 270px; margin: 0.5rem 0; }
.large-image { max-width: 400px; margin: 0.5rem 0; }

/* Blog Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero .cite { margin: 1.5rem 0; }

#author { font-size: 14px; text-align: center; }
#author img { height: 48px; border-radius: 24px; margin: 0 auto 0.75rem auto; }
@media (min-width: 550px) {
  #author { text-align: left; }
  #author img { margin: 0 0 0 auto; }
  #author .ten.columns { margin-left: -2%; }
}

#content p:first-child { margin-top: 1.5rem; }
#content p:last-child { margin-bottom: 1.5rem; }

/*                   	  END OF HOME (h-) PAGE STYLES
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */
